* {
  box-sizing: border-box;
}

.contenedor {
  display:flex;
  flex-wrap: wrap; /*wrap = axial Y*/
  justify-content: space-around;
  background-color:green;
  align-items: flex-end;
}

.main {
  border: solid blue 2px;
}

.pri {
width: 40%;
height: 12vh;
}

.seg {
width: 12%;
flex-grow: 1.5;
align-self: flex-end;
}

.ter {
width: 40%;
align-self: flex-start;

}

.cua {
width: 40%;

}
